
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}



html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  
  color: black;
  line-height: 1.7;
  
}





.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}


.btn {
  background: linear-gradient(135deg, #6a11cb , #2575fc);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: 0.53;
  border: 2px solid #0ff;
  box-shadow: 0 0 10px #0ff;
  text-shadow: 0 0 5px #0ff;
  font-size: 16px;
}

.btn:hover {
  box-shadow: 0 0 15px rgba(101, 126, 255, 0.7);
  scale: 1.05 ;
  animation-duration: 5s;
}




.btndiv{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.cssdiv{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

 #display{
        font-size:60px;
        font-weight:bold;
    }

 .buttons{
        display:flex;
        gap:10px;
  }

    button{
        padding:10px 20px;
        font-size:18px;
        cursor:pointer;
    }